{% if status == "finish" %}
    <div class="border-information-collection border-collection-complet">
        <p>Collection Fini</p>
    </div>
{% else %}
    <div class="border-information-collection border-collection-wait">
        <p>Collection en cours</p>
    </div>
{% endif %}