<div class="p-1">
    <div class="card-info">
        <p class="fx-4 m-none text-bold">{{numberInfo}}</p>
        <p class="fx-15 m-none">{{textInfo}}{% if numberInfo > 1 %}s{% endif %}</p>
    </div>
</div>