<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{asset('frontend/css/style.min.css')}}">
    <title>Super Collect - Une erreur est survenue</title>
</head>
<body>
    <section class="bg-hero d-flex justify-center align-center" style="height:100vh">
        <div style="    background-color: #ffffffdb;padding: 3rem;">
            <h2>Désolé, une erreur est survenue</h2>
            <p style="font-weight: bold;font-size: 1.5rem;">
                Il semble y avoir eux une erreur lors du chargement de la page. Pour retourner sur le site veuillez <a href="{{path('home')}}">cliquez ici</a>
            </p>
        </div>
    </section>
</body>
</html>